<h1>Dropbear.io</h1>
<p>Look out above!</p>

<%= link_to "test", test_path, class: 'btn btn-lg btn-warning' %>
<%= link_to "All Messages", messages_path, class: 'btn btn-lg btn-warning' %>
<%= link_to "All Groups", groups_path, class: 'btn btn-lg btn-warning' %>
